.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border-bottom: solid 1px black;
}

.contact-title {
  align-self: start;
  font-size: 2rem;
  font-weight: bold;
  margin: 0px;
  margin-left: -20px;
}

.contact-status {
  margin-top: 30px;
}

.contact-icon {
  height: 40px;
}

.contact-icon:hover {
  filter: brightness(1.2);
}

.contact-icon.gh:hover {
  filter: brightness(1.8);
}