.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border-bottom: solid 1px black;
}

.contact-title {
  align-self: start;
  font-size: 2rem;
  font-weight: bold;
  margin: 0px;
  margin-left: -20px;
}

.contact-status {
  margin-top: 30px;
}

.contact-form {
  display: flex;
  margin: 40px;
  width: 500px;
  gap: 50px;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-icon {
  height: 40px;
}

.contact-icon:hover {
  filter: brightness(1.2);
}

.contact-icon.gh:hover {
  filter: brightness(2);
}

.email-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.email-form input {
  font-size: 14px;
  width: 400px;
  height: 20px;
  padding: 5px;
}

textarea.form-message {
  font-family: inherit;
  padding: 5px;
  font-size: 14px;
  text-align: start;
  height: 150px;
  resize: none;
}