.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  gap: 30px;
  background-color:rgba(82, 82, 82, 0);
}

.navbar:hover {
  animation: 0.25s fade-in forwards;
}

@keyframes fade-in {
  from {background-color: rgba(82, 82, 82, 0)}
  to {background-color: rgba(82, 82, 82, 0.219)}
}

.nav-icon {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  font-size: 16px;
  color: #fff;
  height: 50%;
  cursor: pointer;
}

.nav-icon:hover {
  border-bottom: solid 2px white;
}

.nav-icon:hover {
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}