.title-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-size: 5rem;
  height: 285px;
  width: 1200px;
  overflow: hidden;
  border-bottom: solid 1px black;
}

@media (max-width: 1000px) {
  .title-container {
    width: 700px;
  }
}

.name {
  margin-left: -300px;
  animation: 2s slide-down ease-out;
}

@keyframes slide-down {
  from {
    margin-top: -100px;
    opacity: 0%;
  }

  to {
    margin-top: 0px;
    opacity: 100%;
  }
}

.position {
  margin-left: 50px;
  font-weight: bold;
  padding-left: 50px;
  animation: 2s slide-up ease-in;
  animation-delay: 0.5s;
}

@keyframes slide-up {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}